.col-centered {
  float: none;
  margin: 0 auto;
}
.cont-list {
  width: 100%;
  height: 100vh;
  overflow: scroll;
  overflow: -moz-scrollbars-none;
  -ms-overflow-style: none;
}
.cont-list::-webkit-scrollbar {
  width: 0 !important;
}

.background {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
}
